@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  /* color: #fff; */
  /* font-family: 'Inter', sans-serif; */
}
body {
  /* background-color: #111827;  */
  background-color: #f1f5f9;
}

/* #tasklist::-webkit-scrollbar{
    background-color: transparent;
    height: 5px;
}
#tasklist::-webkit-scrollbar-thumb{
  background-color: rgb(143, 143, 143);
  border-radius: 50px;
} */